# Env/stages
# local - produces local logs in `logs/`
# dev
# stage
# prod

ENV="local"
SUPABASE_URL=""
SUPABASE_KEY=""
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=overkillbe

# Notice the "postgresql+asyncpg" 
# We are connecting to DB via async
# Easy to miss when configuring env vars
DB_URI="postgresql+asyncpg://postgres:postgres@db/overkillbe"
TEST_DB_URI="postgresql+asyncpg://postgres:postgres@db/overkillbe_test"


ANTHROPIC_API_KEY=""